/* San Francisco PRO */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

html,

body {
    overflow-x: hidden;                 /* nessun contenuto sconfinerà orizzontalmente dalla finestra del browser.*/
    height: 100%;                       /* il body occuperà tutto lo spazio verticale disponibile*/
    width: 100%;                        /* il body occuperà tutto lo spazio orizzontale disponibile*/ 
    background: var(--primary-color);   /* colore della pagina */
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; /* font sito apple */
}

.headerBar {
    margin: 0 auto;             /* imposta i margini della barra dell'intestazione a 0 sui lati sinistro e destro e centra l'elemento orizzontalmente */
    width: 100%;                /* la barra occuperà tutto lo spazio orizzontale disponibile*/ 
    text-align: center;     
    background-color: #277DFF;  
    position: fixed;            /* imposta la posizione della barra dell'intestazione come fissa nella finestra del browser, il che significa che non si sposterà quando l'utente scorrerà la pagina */
    overflow: hidden;           /* nasconde qualsiasi contenuto che fuoriesce dalla barra dell'intestazione */
    z-index: 19;                /* imposta lo z-index della barra dell'intestazione a 10, il che significa che sarà visualizzata sopra altri elementi con uno z-index inferiore */
}

#iconThemeSelector {
    width: 40px;                /* imposta le dimensioni dell'immagine icona del tema(chiaro/scuro) */
    margin: 5px;
    cursor: pointer;
    z-index: 5;
    float: right;
}


#header-text {
    margin: 0;
    color: white;
    margin-left: 61px;
    font-size: 40px;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #277DFF 10%, #d9e2eb  100%);
    z-index: 4;
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    position: fixed;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 15px;
    height: 25px;
    width: 30px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    height: 5px;
    width: 100%;
    background-color: #fff;
    
}

 .diagonal.part-1, .horizontal, .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
}

.diagonal.part-1 {
    margin-top: 10px;
}

.horizontal, .diagonal.part-2{
    margin-top: 7px;
}

.main-center {
    background: var(--primary-color);
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: var(--secondary-color);
}

:root {
    --primary-color: #f5f5f7;
    --secondary-color: black;
}

.dark-theme {
    --primary-color: #262626;
    --secondary-color: white;
}

.prova {
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;

    border-radius: 10px;    /* per rendere i bordi tondi */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* aggiungere un'ombra di 10 pixel di spessore con opacità 0.3 */
    transition: box-shadow 0.3s ease-in-out; /* aggiungere una transizione per l'ombra */
    padding: 20px;
    background-color: white;
    display: inline-block;
    transition: transform 0.2s;
}

.container:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* aumentare l'ombra a 20 pixel di spessore con opacità 0.6 quando il mouse ci passa sopra */
}

.container-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-media {
    display: flex;
    margin: 0;
    padding: 0;
}

.social {
    display: flex;
    position: relative;
    padding: 0;
    margin-top: 20px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.social li {
    list-style: none;
}

.social li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.social li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.social li a:hover:before {
    top: 0;
}

.social li:nth-child(1) a:before {
    background: linear-gradient(45deg, #FEDA75 , #FA7E1E, #D62976, #962FBF, #4F5BD5 );
    
}

.social li:nth-child(2) a:before {
    background: #171515;
}

.social li:nth-child(3) a:before {
    background: #0077b5;
}